$text-color: #3c4043;
$hover-color: #f6f6f6;
$border-color: #dadce0;
$accent-color: #1a73e8;

%btn-hover{
    transition: all .2s linear;
    border-radius: 50%;
    &:hover{
        background-color: $hover-color;
    }
}

