@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid $border-color;
}
.top-nav{
    height: 65px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    font-size: 26px;
    line-height: 28px;
    &__left-side{
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        gap: 20px;
        max-width: 500px;
    }
    &__right-side{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__btn{
        width: 40px;
        height: 40px;
        @extend %btn-hover;
    }
    &__today,
    &__choice-veiw{
        font-size: 14px;
        font-weight: 500;
        padding: 17px;
        line-height: 0;
        border: 1px solid $border-color;
        border-radius: 5px;
        @extend %btn-hover;
    }
}
.arrow-btns{
    font-size: 1.2em;
    display: flex;
    button{
        position: relative;
        @extend %btn-hover;
    }
}
.prev-btn,
.next-btn
{
    &::before{
        display: none;
        content: 'Попередній місяць';
        position: absolute;
        top: 120%;
        left: -150%;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 120px;
        font-size: 12px;
        color: #fff;
        background: rgba(77, 74, 74, .8);
        border-radius: 2px;
    }
    .arrow-btns &:hover::before{
        display: flex;
    }
}
.next-btn{
    &::before{
        content: 'Наступний місяць';
    }
}
.current-date{
    display: grid;
    grid-auto-flow: column;
    gap: 6px;
}

.sidebar{
    min-width: 350px;
    height: 100%;
    border-right: 1px solid $border-color;
    padding: 20px 0;
    transition: all .4s linear;
    &--hide{
        margin-left: -350px;
    }
}
.create-btn{
    position: relative;
    width: 146px;
    height: 48px;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    border-radius: 28px;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .2s linear;
    &:hover{
        box-shadow: 0px 4px 20px 0px rgba(34, 60, 80, 0.2);
        background: rgba(220, 225, 247, 0.596);
    }
    &::before{
        content: '+';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        font-size: 50px;
        font-weight: 300;
    }
}
.sm-calendar{
    display: grid;
    gap: 6px;
    &__header{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
    }
    &__body{
        display: grid;
        gap: 6px; 
    }
    &__week-items{
        display: grid;
        grid-template: 1fr / repeat(7, 1fr);
    }
    &__week-item,
    &__day{       
        width: 15px;
        height: 15px;
        padding: 15px; 
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        @extend %btn-hover;
    }
    &__days{
        display: grid;
        gap: 6px;
        grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    }
}

.bg-calendar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-size: 14px;
    font-weight: 500;
    &__row{
        width: 100%;
        height: calc(100% );
        display: grid;
        grid-template-columns: repeat(7, 1fr);  
        // grid-template-rows: repeat(6, 1fr);
        // grid-auto-rows: 0px;
        &--week{
            height: 30px;
            border-bottom: 0;
            text-transform: uppercase;
            user-select: none;
        }
    }
    &__week-day,
    &__day{
        border-right: 1px solid $border-color;
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    &__day{
        border-bottom: 1px solid $border-color;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    &__day-date{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        padding: 15px;
        cursor: pointer;
        margin-bottom: 10px;
        @extend %btn-hover;
    }
    &__event,
    &__task,
    &__reminder{
        margin-bottom: 3px;
        width: 95%;
        padding: 4px;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
    }
    &__event{
        background: rgb(3, 155, 229);
    }
    &__task{
        background: rgb(66, 133, 244);
    }
    &__reminder{
        background:  rgb(63, 81, 181);
    }
}
.new-event,
.event-property {
    position: absolute;
    top: 40px;
    left: 40px;
    display: none;
    flex-direction: column;
    font-size: 18px;
    background: #fff;
    box-shadow: -3px 6px 38px 0px rgba(34, 60, 80, 0.43);
    border-radius: 14px;
    padding: 0 15px 15px;
    overflow: hidden;
    animation: form-anim .2s linear;
    animation-fill-mode: forwards;
}
.new-event{
    width: 540px;
    height: 400px;
    &__header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        user-select: none;
        background: #ccc;
    }
    &__content{
        margin-left: 10%;
        margin-top: 70px;
        flex: 1;
    }
    &__input-title{
        height: 40px;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(123, 123, 124, 0.4);
        font-size: 22px;
        transition: all .2s linear;
        margin-bottom: 20px;
        &:focus{
            border-bottom: 1px solid $accent-color;
        }
    }
    &__input-text{
        width: 100%;
        height: 120px;
        resize: none;
        outline: none;
        padding: 5px;
    }
    &__btns{
        display: flex;
        margin-bottom: 20px;
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        position: relative;
        &-block{
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
            user-select: none;
            transition: all .1s linear;
        }
        input:checked + &-block {
            color: $accent-color;
            background-color: rgba($accent-color, .2);
        } 
        border-radius: 4px;
        input{
            display: none;
        }
    }
    &__footer{
        display: flex;
        justify-content: flex-end;
    }
    &__save{
        padding: 10px;
        background: $accent-color;
        border-radius: 4px;
        color: #fff;
    }
}

.new-event--opened{
    display: flex;
}
.inactive{
    color: #70757a;
    font-weight: 400;
}
.current_day{
    background: $accent-color;
    color: #fff;
    &:hover{
        background: rgba($accent-color, .8);
    }
}

.event-property{
    width: 450px;
    min-height: 150px;
    max-height: 60%;
    overflow-y: auto;
    display: none;
    &__header{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        user-select: none;
        button{
            width: 35px;
            height: 35px;
            font-size: 20px;
            margin-left: 10px;
            @extend %btn-hover;
            &:last-child{
                margin-left: 35px;
            }
        }
    }
    &__content{
        padding-top: 5px;
        padding-left: 40px;
    }
    &__title{
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 10px;
        color: #000;
    }
    &__subtitle{
        font-size: 18px;
        font-style: italic;
        padding-bottom: 10px;
    }
    &__text{
        font-size: 16px;
    }
    &--opened{
        display: flex;
    }
}

@keyframes form-anim {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}